#navbarSide {
    @import '_variables';
    a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;

        &:hover,
        &:focus {
            color: inherit;
            text-decoration: none;
            transition: all 0.3s;
        }
    }

    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    /* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */

    .wrapper {
        // display: flex;
        // width: 100%;
        // align-items: stretch;
        // perspective: 1500px;
    }

    #sidebar {
        height: 100%;
        // width: 160px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        min-width: 250px;
        max-width: 250px;
        background: $gold;
        color: #fff;
        transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
        transform-origin: bottom left;

        &.active {
            margin-left: -250px;
            transform: rotateY(100deg);
        }

        .sidebar-header {
            padding: 20px;
            display: flex;
            background: $gold-ancient;
        }

        ul {
            &.components {
                padding: 20px 0;
                border-bottom: 1px solid #47748b;
            }

            p {
                color: #fff;
                padding: 10px;
            }

            li {
                a {
                    color: #000;
                    background: $gold;
                    padding: 10px;
                    font-weight: 700;
                    font-size: 1.1em;
                    display: block;

                    &:hover {
                        color: $gold;
                        background: #fff;
                    }
                }

                &.active>a {
                    color: #fff;
                    background: $gold-ancient;
                }
            }
        }
    }

    a {
        &[aria-expanded="true"] {
            color: #fff;
            background: $gold-ancient;
        }

        &[data-toggle="collapse"] {
            position: relative;
        }
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul {
        ul a {
            font-size: 0.9em !important;
            padding-left: 30px !important;
            background: $gold-ancient;
        }

        &.CTAs {
            padding: 20px;

            a {
                text-align: center;
                font-size: 0.9em !important;
                display: block;
                border-radius: 5px;
                margin-bottom: 5px;
            }
        }
    }

    a {
        &.download {
            background-color: #fff !important;
            color: $gold !important;
        }

        &.article {
            background-color: $gold-ancient !important;
            color: #fff !important;

            &:hover {
                background-color: $gold-ancient !important;
                color: #fff !important;
            }
        }
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

    #content {
        // width: 100%;
        padding: 20px;
        min-height: 150vh;
        // margin-left: 250px;
        transition: all 0.3s;
    }

    .margin_content {
        // margin-left: 260px;
        transition: all 0.5s;
    }

    #sidebar-top {
        position: fixed;
        // top: 2.5%;
        top: 0;
        margin-left: 2em;
        z-index: 1;
        transition: all 1s;
        margin: 15px 0px 0px 30px;

        #sidebar-icon {
            position: absolute;
            margin-left: -20px;
        }

        #sidebarCollapse {
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-color: rgba(192, 190, 190, 0.8);
            box-shadow: 3px 3px 3px gray;
            border-radius: 25px;

            span {
                width: 80%;
                height: 2px;
                margin: 0 auto;
                display: block;
                background: #555;
                transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
                transition-delay: 0.2s;

                &:first-of-type {
                    transform: rotate(45deg) translate(2px, 2px);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:last-of-type {
                    transform: rotate(-45deg) translate(1px, -1px);
                }
            }

            &.active span {
                transform: none;
                opacity: 1;
                margin: 5px auto;
            }
        }
    }
    .sidebar-top_activate {
        top: 1% !important;
        margin-left: 1.5em !important;
    }

    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
    // @media (max-width: 768px) {
    //     #sidebar {
    //         margin-left: -250px;
    //         transform: rotateY(90deg);

    //         &.active {
    //             margin-left: 0;
    //             transform: none;
    //         }
    //     }

    //     #sidebarCollapse {
    //         span {

    //             &:first-of-type,
    //             &:nth-of-type(2),
    //             &:last-of-type {
    //                 transform: none;
    //                 opacity: 1;
    //                 margin: 5px auto;
    //             }
    //         }

    //         &.active span {
    //             margin: 0 auto;

    //             &:first-of-type {
    //                 transform: rotate(45deg) translate(2px, 2px);
    //             }

    //             &:nth-of-type(2) {
    //                 opacity: 0;
    //             }

    //             &:last-of-type {
    //                 transform: rotate(-45deg) translate(1px, -1px);
    //             }
    //         }
    //     }
    // }
}