@media screen and (max-width: 1000px) {
    #navbarClassic {
        display: none;
    }
    #sidebar-top {
        display: inline;
    }
}
@media only screen and (min-width: 900px) {
    #navbarClassic {
        display: block;
        position: sticky;
        top: 0;
    }
    #sidebar-top {
        display: none;
    }
}