@font-face {
	font-family: "PermanentMarker";
	src: url("../fonts/PermanentMarker-Regular.ttf");
}

.index_image_intro {
	width: 25vw;
}

.content_index {
	max-width: 25vw;
}

.navbar_logo {
	width: 1.5em;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #000000;
    color: #FFFFFF;
}

.navbar_title {
	font-family: 'PermanentMarker', sans-serif;
	color: #0073ef;
	font-weight: 700;

}

.navbar_margin {
	margin-left: 2em !important;
}

.active {
	font-weight: 700;
}

.all_page {
	height: 88vh;
	text-align: center;
}

.input_border_radius_left {
	border-radius: 25px 0 0 25px;
}

.input_border_radius_right {
	border-radius: 0 25px 25px 0;
}

.submit_border_radius {
	border-radius: 25px 25px 25px 25px;
}

.message_border_bg {
	margin-bottom: 2em;
	border-radius: 5px;
	background-color: white;
}

.footer_shadow {
	-webkit-box-shadow: 0px -.125rem 0.25rem 0px rgba(0, 0, 0, .075);
	-moz-box-shadow: 0px -.125rem 0.25rem 0px rgba(0, 0, 0, .075);
	box-shadow: 0px -.125rem 0.25rem 0px rgba(0, 0, 0, .075);
}

.navbar {
	height: 7vh;
}

.footer {
	height: 7vh;
}

html,
body {
	/* height: 100%; */
	height: 1000px;
}

.parallax {
	/* The image used */
	background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)),
		url('../images/logo.png');

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 60%;
}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.input_radius {
	border-radius: 25px;
	width: 80%;
}

.input_radius_logo {
	border-radius: 0 25px 25px 0;
	color: black;
	background-color: white;
}

.input_border {
	border-right: 0px;
}

.input_logo_border {
	border-left: 0px;
}

.input_radius_logo:hover {
	background-color: lightpink;
}